<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="customerDao" class="com.electricityBill.dao.DeserializationCustomerDaoImpl"></bean>
    <bean id="billDao" class="com.electricityBill.dao.DeserializationBillDaoImpl"/>
    <bean id="controller" class="com.electricityBill.controller.ElectricityBillAppController">
        <property name="customerDao" ref="customerDao"/>
        <property name="billDao" ref="billDao"/>
    </bean>
</beans>